<%-include('header');-%>
<div class="container">
  <div class="row headerRow">
    <div class="col-4">
      <h2>1200</h2>
      <h6>/2000 cal</h6> 
    </div>
    <div class="col-4">
      <h2>1000</h2>
      <h6>/1000 na</h6> 
    </div>
    <div class="col-4">
      <h2>60</h2>
      <h6>/165 pro</h6> 
    </div>
  </div>
  <hr>

</div>


<%-include('footer');-%>