<%-include('header');-%>
<body>

<div class="container">
  <div class="row headerRow">
    <div class=" topCounterDiv col-3">
      <div class="topTotalCount">1200</div>
      <div class="topOutOf">/2000 cal</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">1000</div>
      <div class="topOutOf">/1000 sdm</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">60</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">60</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
  </div>
</div>
<div class="itemListContainer">

  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>
  <div class="container itemRowContainer">
    <div class="row itemRow">
      <div class="col-9 itemTimeNameDiv">
        <h2 class="itemTime">4:35pm</h2>
        <h2 class="itemName">Taco Bell 7 Layer Burrito</h2>
      </div>
      <div class="col-3 itemValueDiv">
        <h6 class="itemValue">1010 cal</h6>
        <h6 class="itemValue">350 sdm</h6>
        <h6 class="itemValue">12 pro</h6>
      </div>
    </div>
  </div>

</div>

<nav class="bottomBar navbar fixed-bottom">
  <a class="navbar-brand" href="#">✔</a>
</nav>

</body>
</html>

<%-include('footer');-%>