<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesDisclaimer.css">
</head>

<body class="dashboardBody">

<div class="container">
  <div class="row headerRow">
    <div class=" topCounterDiv col-3">
      <div class="topTotalCount">-</div>
      <div class="topOutOf">/2000 cal</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">-</div>
      <div class="topOutOf">/1000 sdm</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">-</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">-</div>
      <div class="topOutOf">/165 crb</div> 
    </div>
  </div>
</div>

<div class="disclaimerBody vertical-center">
    <div class="buttonsDiv">
      <a href="./dashboard"><button type="button" class="btn cancel">Cancel</button></a>
      <button type="submit" class="btn save">Save</button>
</div>    

<nav class=" bottomBar navbar fixed-bottom">
  <a href="/">
    <img class="bottomBarLogo" src="./files/logoCup.svg" alt="">
  </a>
  <a class="bottomBarDay" href="#">Today</a>
</nav>

</body>
</html>

<%-include('footer');-%>
<script src="./scripts/scriptNewItem.js"></script>