<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesIndex.css">
</head>
<body class="indexBody">

<!-- Bootstrap Navbar -->
<nav class="topBar navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbarTitle navbar-brand" href="/"><img src="./files/TedCounterLogo.svg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <hr>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" tabindex="2">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="3">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="4" >About</a>
      </li>
    </ul>

  </div>
</nav>

<h3>Hello!</h3>

<!-- New User Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalIndex" aria-hidden="true">
  <div class="modal-dialog-centered modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modalTopBar">
        <h5 class="modal-title" id="signupModalIndex">New User</h5>
      </div>
      <form action="./newUser"  method="POST">
        <div class="modal-body">
          <label for="newName" class="sr-only">Name</label>
          <input name="newName" id="newName" class="form-control" placeholder="Username" autofocus>
          <label for="newEmail" class="sr-only">Email</label>
          <input name="newEmail" type="email" id="newEmail" class="form-control" placeholder="Email*" required>
          <label for="newPassword" class="sr-only">newPassword</label>
          <input name="newPassword" type="password" id="newPassword" class="form-control" placeholder="Password*" required>
          <label for="confirmPassword" class="sr-only">confirmPassword</label>
          <input name="confirmPassword" type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password*" required>
        </div>
        <div class="modal-footer modalBottomBar">
          <button type="button" class="btn buttonCancel btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary createAccount">Create Account</button>
        </div>
      </form> 
    </div>
  </div>
</div>


<!-- Main Form -->
<form class="form-signIn text-center" action="./signIn" method="POST">
    <img class="mb-4" src="./files/smileyFaceWhiteV2.svg" alt="" width="72" height="72">
    <h1 class="h3 signInText mb-3 font-weight-normal">Welcome Back</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-info btn-block" id="button-signIn" type="submit">Sign In</button>
    <!-- Triggers Modal -->
    <button class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#signupModal" id="button-signUp" type="submit">Sign Up</button>
    <a class="forgotLink" href="/">Forgot Password?</a>
    <p class="mt-5 mb-3"><a class="copyYear">&copy; 2017-2020</a></p>
  </form>

  <!-- Forgot Password Toast -->
  <div class="toast <%=failedLogin%>" id="signInErrorToast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body ">
      <strong style="font-style: bold;">Uh oh. There was an error signing in.</strong><br>
      Tap 'Forgot Password' above to reset your password or 'Sign Up' to create a free account. <%=failedLogin%>
    </div>
  </div>

<%-include('footer');-%>
</body>
</html>
