<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesNewItem.css">
</head>

<body class="dashboardBody">

<div class="container">
  <div class="row headerRow">
    <div class=" topCounterDiv col-3">
      <div class="topTotalCount">-</div>
      <div class="topOutOf">/2000 cal</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">-</div>
      <div class="topOutOf">/1000 sdm</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">-</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">-</div>
      <div class="topOutOf">/165 crb</div> 
    </div>
  </div>
</div>

<div class="itemInputsContainer vertical-center">
  <form action="./newitem" method="POST">
    <div class="nameBarcodeDiv">
      <input class="newItemInput1" name='itemName' placeholder="name (required)" type="text" maxlength="50" required>
      <button type="button" data-toggle="modal" data-target="#barcodeModal" class="barcodeButton btn"><img src="./files/barcode.svg" alt=""></button>
    </div>
    <div class="newItemDiv">
      <input class="newItemInput2 topFour" placeholder="calories" name="calories" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput3 topFour" placeholder="sodium" name="sodium" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput4 topFour" placeholder="protein" name="protein" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput5 topFour" placeholder="carbs" name="carbs" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput6" placeholder="fat" name="fat" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput7" placeholder="cholesterol" name="cholesterol" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput8" placeholder="fiber" name="fiber" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput9" placeholder="sugar" name="sugar" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput10" placeholder="iron %" name="iron" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput11" placeholder="vitA %" name="vitA" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput12" placeholder="vitC %" name="vitC" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput13" placeholder="vitD %" name="vitD" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput14" placeholder="vitE %" name="vitE" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput15" placeholder="calcium %" name="calcium" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput16" placeholder="potassium %" name="potassium" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput17" placeholder="zinc" name="zinc" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    </div>
    <div class="buttonsDiv">
      <a href="./dashboard"><button type="button" class="btn cancel">Cancel</button></a>
      <button type="submit" class="btn save">Save</button>
    </div>    
  </form>
</div>

<!-- Barcode Modal -->
<form id="editItemForm">
  <div class="modal" id="barcodeModal" tabindex="-1" role="dialog">
    <div class="modalQuickAdd modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Barcode Search</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Loading Indicator -->
          <div class="loadingIndicatorDiv hideElement">
            <div class="loadingIndicator spinner-border text-info" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <!-- Enter Barcode Field -->
          <div class="barcodeSearchDiv">
            <input name="name" id="barcodeField" type="text" maxlength="50" placeholder="Enter Barcode (BETA)">
            <button type="button"class="barcodeSearchButton btn" alt="Search">Search</button>
            <p class="barcodeTips">Include numbers to the left and right of barcode.</p>
          </div>
          <p id="itemData0"></p>
          <p id="itemData1"></p>
          <p id="itemData2"></p>
          <p id="itemData3"></p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
          <button type="submit" id="saveButton" class="btn btn-primary useButton">Use</button>
        </div>
      </div>
    </div>
  </div>
</form>

<nav class=" bottomBar navbar fixed-bottom">
  <a href="/">
    <img class="bottomBarLogo" src="./files/logoCup.svg" alt="">
  </a>
  <a class="bottomBarDay" href="#">Today</a>
</nav>

</body>
</html>

<%-include('footer');-%>
<script src="./scripts/scriptNewItem.js"></script>