<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesNewItem.css">
</head>

<body class="dashboardBody">

<div class="container">
  <div class="row headerRow">
    <div class=" topCounterDiv col-3">
      <div class="topTotalCount">1200</div>
      <div class="topOutOf">/2000 cal</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">1000</div>
      <div class="topOutOf">/1000 sdm</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">60</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">30</div>
      <div class="topOutOf">/165 crb</div> 
    </div>
  </div>
</div>

<div class="itemInputsContainer">
  <form action="">
    <input class="newItemInput1" placeholder="name (required)" type="text" maxlength="30">
    <div class="newItemDiv">
      <input class="newItemInput2 topFour" inputmode="numeric" maxlength="4" pattern="[0-9]*" placeholder="calories" type="text">
      <input class="newItemInput3 topFour" inputmode="numeric" maxlength="4" pattern="[0-9]*" placeholder="sodium" type="text">
      <input class="newItemInput4 topFour" inputmode="numeric" maxlength="4" pattern="[0-9]*" placeholder="protein" type="text">
      <input class="newItemInput5 topFour" inputmode="numeric" maxlength="4" pattern="[0-9]*" placeholder="carbs" type="text">
      <input class="newItemInput6"placeholder="cal" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput7"placeholder="sdm" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput8"placeholder="pro" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput9"placeholder="crb" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput10"placeholder="cal" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput11"placeholder="sdm" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput12"placeholder="pro" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput13"placeholder="crb" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput14"placeholder="cal" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput15"placeholder="sdm" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput16"placeholder="pro" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
      <input class="newItemInput17"placeholder="crb" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    </div>
  </form>

</div>

<nav class=" bottomBar navbar fixed-bottom">
  <a href="/">
    <img class="bottomBarLogo" src="./files/logoCup.svg" alt="">
  </a>
  <a class="bottomBarDay" href="#">Today</a>
</nav>

</body>
</html>

<%-include('footer');-%>