<%-include('header');-%>
<body class="dashboardBody">

<div class="container">
  <div class="row headerRow">
    <div class=" topCounterDiv col-3">
      <div class="topTotalCount">1200</div>
      <div class="topOutOf">/2000 cal</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">1000</div>
      <div class="topOutOf">/1000 sdm</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">60</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
    <div class="topCounterDiv col-3">
      <div class="topTotalCount">60</div>
      <div class="topOutOf">/165 pro</div> 
    </div>
  </div>
</div>

<form action="">
  <input class="saveMealInput1" placeholder="name (required)" type="text" maxlength="30">
  <div class="saveMealDiv">
    <input class="saveMealInput2 topFour" inputmode="numeric" maxlength="4" pattern="[0-9]*" placeholder="calories" type="text">
    <input class="saveMealInput3 topFour" inputmode="numeric" maxlength="4" pattern="[0-9]*" placeholder="sodium" type="text">
    <input class="saveMealInput4 topFour" inputmode="numeric" maxlength="4" pattern="[0-9]*" placeholder="protein" type="text">
    <input class="saveMealInput5 topFour" inputmode="numeric" maxlength="4" pattern="[0-9]*" placeholder="carbs" type="text">
    <input class="saveMealInput6"placeholder="cal" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput7"placeholder="sdm" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput8"placeholder="pro" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput9"placeholder="crb" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput10"placeholder="cal" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput11"placeholder="sdm" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput12"placeholder="pro" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput13"placeholder="crb" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput14"placeholder="cal" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput15"placeholder="sdm" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput16"placeholder="pro" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
    <input class="saveMealInput17"placeholder="crb" inputmode="numeric" maxlength="4" pattern="[0-9]*" type="text">
  </div>
</form>

<nav class=" bottomBar navbar fixed-bottom">
  <a href="/">
    <img class="bottomBarLogo" src="./files/logoCup.svg" alt="">
  </a>
  <a class="bottomBarDay" href="#">Today</a>
</nav>

</body>
</html>

<%-include('footer');-%>