<%-include('header');-%>
<!-- Custom Styles -->
<link rel="stylesheet" href="/styles/stylesIndex.css">
</head>
<body class="indexBody">

<!-- Bootstrap Navbar -->
<nav class="topBar navbar navbar-expand-md navbar-dark fixed-top">
  <object class="resetPassLogo" data="./files/TedCounterLogo.svg" type="image/svg+xml"></object>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <hr>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" tabindex="2">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="3">Why TedCounter?</a>
      </li>
    </ul>

  </div>
</nav>

<h3>Hello!</h3>

<!-- New Password Form -->
<form class="form-signIn text-center">
  <img class="mb-4" src="./files/smileyFaceWhiteV2.svg" alt="" width="72" height="72">
  <h1 class="h3 signInText mb-3 font-weight-normal">Reset Password</h1>
  <label for="inputNewPassword" class="sr-only">New Password</label>
  <input name="email" type="password" id="inputNewPassword" class="form-control" placeholder="Password" required autofocus>
  <label for="retypePassword" class="sr-only">Reenter Password</label>
  <input name="password" type="password" id="retypePassword" class="form-control" placeholder="Retype Password" required>
  <p class="passwordTooShortAlert hideElement">Password must be at least 8 characters long.</p>
  <p class="passwordsNotMatchingAlert hideElement">Passwords do not match.</p>
  <p class="resetKeyExpired">Please note, reset password links expire after 24h.<br>Please try again with a new link.</p>
  <button class="btn btn-lg btn-info btn-block" id="button-save" type="submit">Save</button>
</form>

<%-include('footer');-%>
<script src="./scripts/scriptResetPassword.js"></script>
</body>
</html>
