/* Site Wide ========================================== */

/* Dashboard Header ========================================== */
.headerRow{
    background-color: #ff9c3e;
    border-radius: 0 0 4px 4px;
    left: 0;
    margin: 0;
    padding: 2px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.topCounterDiv{
    padding: 2px 1px;
}

.topOutOf{
    color: #545454;
    font-size: .8rem;
    padding-bottom: 1px;
}

.topTotalCount{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 100%;
}

/* Dashboard List ========================================== */
.dashboardBody{
    background-color: gray;
}

.itemListContainer{
    padding: 56px 0 70px 0;
}

.itemRow{
    background-color: lightgreen;
    margin: 1px;
}

.itemRowContainer{
    padding: 0 1px;
}

.itemTime{
    font-size: .8rem;
    text-align: left;
    margin: 0;
    padding: 2px 0;
}

.itemTimeNameDiv{
    padding: 0 0 0 10px;
}

.itemName{
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 2px;
}

.itemValue{
    font-size: .8rem;
    margin: 0;
    text-align: end;
}

.itemValueDiv{
    padding: 2px 10px;
}

.topBar{
    background-color: #ff9c3e;
}
/* Round Corners of Last List Item */
.itemListContainer > .itemRowContainer:last-child > .itemRow{
    border-radius: 0 0 4px 4px;
}

/* Dashboard Bottom Buttons ========================================== */
.bottomButtons button{
    background-color: #5f65d8;
    border-radius: 100%;
    border-width: 0;
    font-size: 1.8rem;
    height: 60px;
    opacity: .7;
    padding: 0 0 4px 0;
    position: absolute;
    width: 60px;
}

.buttonAddMeal{
    bottom: 55px;
    right: 10px;
}

.buttonSettings{
    bottom: 55px;
    left: 10px;
}

.buttonQuickAdd{
    bottom: 120px;
    right: 10px;
}

/* Dashboard Bottom Bar ========================================== */
.bottomBar{
    background-color: #ff9c3e;
    height: 45px;
}

.bottomBarDay{
    color: white;
    margin: auto;
}

.bottomBarLogo{
    bottom: 6px;
    filter: invert(1);
    position: absolute;
    width: 30px;
}

/* Index Page - Sign In ========================================== */
.copyYear{
    bottom: 0;
    color: #3a3a3a;
    left: 0;
    position: absolute;
    width: 100%;
}

.form-signin{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.indexBody{
    background-color: #5f65d8;
}

.navbarTitle img{
    position: absolute;
    height: 52px;
    top: 2px;
    right: 100px;
    filter: invert(1);
}

.signInText{
    color: white;
}

.signup{
    color: #FFFFFF;
    margin: 18px 0 0 0;
}

.signupLink{
    color: #FFFFFF;
    display: block;
    text-decoration: underline;
}

.tryItOut{
    bottom: 30px;
    color: white;
}

#inputEmail{
    border-radius: .25rem .25rem 0 0;
}

#inputPassword{
    margin-bottom: 15px;
    border-radius: 0 0 .25rem .25rem;
}