/* For Index Page */

/* Header */
.topBar{
    background-color: #ff9c3e;
    height: 56px;
}

/* Index Page - Sign In ========================================== */
#button-signUp{
    border-radius: .3rem;
    font-size: 1rem;
    height: 40px;
    margin-top: 10px;
    padding: 0;
}

#button-signIn{
    border-radius:.3rem;
    font-size: 1rem;
    height: 40px;
    padding: 0;
}

.copyYear{
    bottom: 0;
    color: #3a3a3a;
    font-size: .77rem;
    position: relative;
    right: 4px;
    width: 100%;
}

.copyYearDiv{
    bottom: 10px;
    padding-top: 120px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.form-signIn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    max-width: 260px;
    width: 60%;
}

.indexBody{
    background-color: #5f65d8;
}

.navbarTitle object{
    filter: invert(1);
    height: 52px;
    position: absolute;
    right: 4px;
    top: 2px;
    width: 100%;
    z-index: 1035;
}

.signInText{
    color: white;
}

#signInErrorToast, #newAccountToast, #newPasswordToast{
    bottom: 30px;
    margin: auto;
    opacity: 0;
    position: absolute;
    text-align: center;
}

#signInErrorToast.showFailedToast{
    opacity: 1;
    position: relative;
}

#newPasswordToast.showNewPasswordToast{
    opacity: 1;
    position: relative;
}

.signUp.forgotPassword{
    margin: auto;
    max-width: 260px;
    text-align: center;
    width: 60%;
}

.smileLogo{
    margin-bottom: 30px;
}

.forgotLink{
    color: #000000;
    display: block;
    font-size: .77rem;
    padding-top: 20px;
}

#inputEmail{
    border-radius: .25rem .25rem 0 0;
}

#inputPassword{
    margin-bottom: 10px;
    border-radius: 0 0 .25rem .25rem;
}

#newAccountToast.showAccountCreatedToast{
    opacity: 1;
    position: relative;
}

/* Sign Up Modal =============================================*/
button.close{
    background-color: #464646;
    font-weight: 300;
    left: 10px;
    position: absolute;
    
}

button.createAccount{
    background-color: #17a2b8;
    font-weight: 300;
    position: absolute;
    right: 15px;
}

.modalBottomBar{
    display: block;
    background-color: #5f65d8;
    height: 51px;
}

.modal-content{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: black;
    border-width: 1px;
    bottom: 20px;
}

.modal-footer .btn{
    border: 0;
    bottom: 2px;
    position: absolute;
    width: 40%;
}

.modalTopBar{
    background-color: #ff9c3e;
    display: block;
    height: 40px;
    text-align: center;
}

.modal-title{
    line-height: .5rem;
    font-weight: 300;
}

#confirmPassword{
    border-radius: 0 0 .25rem .25rem;
}

#newPassword{
    border-radius: 0px;
    margin-bottom: -1px;
}

#newEmail{
    border-radius: 0px;
    margin-bottom: -1px;
}

#newName{
    border-radius: .25rem .25rem 0 0;
    margin-bottom: -1px;
}

/* Password Recovery Modal =============================================*/
.countdown{
    color: #212529;
    font-size: .77rem;
    margin: 0;
    padding: 0px 7px 0 7px;
    text-align: center;
}

.emailSentNotification{
    color: #212529;
    font-size: .77rem;
    margin: 0;
    padding: 7px 7px 0 7px;
    text-align: center;
}

.sendEmailButton{
    background-color: #17a2b8;
    font-weight: 300;
    position: absolute;
    right: 15px;
}

/* New Account Modal =============================================*/
.accountExistsNotification{
    color: #212529;
    font-size: .77rem;
    margin: 0;
    padding: 0 7px 10px 7px;
    text-align: center;
}

.passwordTooShortNotification{
    color: #212529;
    font-size: .77rem;
    margin: 0;
    padding: 0 7px 10px 7px;
    text-align: center;
}

.passwordsNotMatchingNotification{
    color: #212529;
    font-size: .77rem;
    margin: 0;
    padding: 0 7px 10px 7px;
    text-align: center;
}

/* for jQuery */
.hideElement{
    display: none;
}

.highlight{
    border-color: #ff9898;
    border-width: 2px;
}

/* New Account Modal =============================================*/

.resetPassLogo{
    filter: invert(1);
    margin: auto;
    position: relative;
    top: -2px;
    width: 224px;
}

#inputNewPassword{
    border-radius: .25rem .25rem 0 0;
}

#retypePassword{
    margin-bottom: 10px;
    border-radius: 0 0 .25rem .25rem;
}

.passwordTooShortAlert{
    background-color: #e7e8f9;
    border-radius: 5px;
    border: solid 1px;
    font-size: .85rem;
    padding: 2px;
}

.passwordsNotMatchingAlert{
    background-color: #e7e8f9;
    border-radius: 5px;
    border: solid 1px;
    font-size: .85rem;
    padding: 2px;
}

.resetKeyExpired{
    background-color: #e7e8f9;
    border-radius: 5px;
    border: solid 1px;
    font-size: .85rem;
    padding: 2px;
}