/* FOR NEW ITEM PAGE */

/* NewItem Header ========================================== */
.headerRow{
    background-color: #ff9c3e;
    left: 0;
    margin: 0;
    padding: 2px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.topCounterDiv{
    padding: 2px 1px;
}

.topOutOf{
    color: #545454;
    font-size: .8rem;
    padding-bottom: 1px;
}

.topTotalCount{
    color: white;
    font-size: 2rem;
    font-weight: 300;
    line-height: 100%;
}

.topBar{
    background-color: #ff9c3e;
}

/* Nutrition Input Fields */
.itemInputsContainer{
    text-align: center;
}

.newItemDiv{
    padding-top: 10px;
    text-align: center;
}

.newItemInput1{
    border-color: #ff9c3e;
    border-width: 1px;
    outline-color: #ff9c3e;
}

.newItemDiv input{
    border-color: #5f65d8;
    border-width: 1px;
    margin: 5px;
    outline-color: #5f65d8;
    width: 35%;
}
.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Button Formatting (Cancel, Save, Barcode */
.buttonsDiv{
    padding-top: 30px;
}

.buttonsDiv button{
    background-color: #464646;
    color: #ffffff;
    font-weight: 300;
    margin: 0 5px;
    max-width: 170px;
    width: 40%;
}

.barcodeButton{
    background-color: #737373;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    font-weight: 300;
    height: 29px;
    margin: 0 5px 4px 5px;
    width: 38px;
}

.barcodeButton img{
    bottom: 6px;
    height: 18px;
    position: relative;
    right: 5px;

}

.barcodeSearchButton{
    background-color: #737373;
    border-color: black;
    border-radius: 0 5px 5px 0;
    border-width: 1px;
    bottom: 0;
    color: #ffffff;
    font-weight: 300;
    height: inherit;
    left: -2px;
    line-height: 0;
    margin: 0;
    position: relative;
    width: 70px;
}

/* Barcode Modal */
#barcodeField{
    border-width: 1px;
    border-radius: 4px 0 0 4px;
    display: inline;
    height: inherit;
    left: 2px;
    margin: 0 auto 5px auto;
    outline-color: #464646;
    position: relative;
    text-align: center;
    width: 184px;
}

.barcodeSearchDiv{
    height: 34px;
    position: relative;
    text-align: center;
    width: 100%;
}

.barcodeTips{
    font-size: .75rem;
    text-align: center;
}

button.close{
    bottom: 8px;
    position: relative;
    right: 3px;
}

.loadingIndicator{
    bottom: 45%;
    position: absolute;
    z-index: 1055;
}

.loadingIndicatorDiv{
    display: flex;
    justify-content: center;
}

.modal .cancel{
    background-color: #464646;
    border: 0;
    bottom: 2px;
    position: absolute;
    width: 40%;
}

.modal .useButton{
    border: 0;
    bottom: 2px;
    position: absolute;
    width: 40%;
}

.modal-body{
    /* 50% of viewport height */
    height:50vh;
    overflow: auto;
}

.modal-content{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: black;
    border-width: 1px;
    bottom: 20px;
}

.modal-footer{
    background-color: #5f65d8;
    height: 51px;
}

.modal-footer .useButton{
    font-weight: 300;
    position: absolute;
    right: 15px;
}

.modal-footer .cancel{
    font-weight: 300;
    left: 15px;
    position: absolute;
    left: 10px;
}

.modal-header{
    background-color: #ff9c3e;
    height: 45px;
}

.modal-title{
    bottom: 9px;
    font-weight: 300;
    position: relative;
}


/* New Item Bottom Bar ========================================== */
.bottomBar{
    background-color: #5f65d8;
    height: 50px;
}

.bottomBarDay{
    color: white;
    font-weight: 300;
    margin: auto;
}

.bottomBarLogo{
    bottom: 9px;
    filter: invert(1);
    position: absolute;
    width: 30px;
}


/* Javascript ========================================== */
.hideElement{
    display: none;
}

/* Media Queries ========================================== */

/* Support for Smaller Devices */
@media (max-height: 570px) {
    .buttonsDiv{
        padding-top: 20px;
    }

    .itemInputsContainer{
        padding: 80px 0 60px 0;
    }

    .newItemDiv input{
        margin: 2px;
    }

    .vertical-center{
        margin: 0;
        position: absolute;
        top: 0;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}