body{
    background-color: #5f65d8;
    /* background-color: #e28934; */
}

/* Navbar Styles */
.navbarTitle img{
    position: absolute;
    height: 52px;
    top: 2px;
    right: 100px;
    filter: invert(1);
}

.navbar{
    background-color: #ff9c3e;
}

/* Index Page - Sign In */
.form-signin{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.signInText{
    color: white;
}

#inputEmail{
    border-radius: .25rem .25rem 0 0;
}

#inputPassword{
    margin-bottom: 15px;
    border-radius: 0 0 .25rem .25rem;
}