/* FOR DASHBOARD PAGES */

html, body{
    height: 100%;
}

/* Dashboard Header ========================================== */
.headerRow{
    background-color: #ff9c3e;
    box-shadow: 0 -3px 10px;
    min-height: 56px;
    left: 0;
    margin: 0;
    padding: 2px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.topCounterDiv{
    padding: 2px 1px;
}

.topOutOf{
    color: #545454;
    font-size: .8rem;
    padding-bottom: 1px;
}

.topTotalCount{
    color: white;
    font-size: 2rem;
    font-weight: 300;
    line-height: 100%;
}

/* Dashboard List ========================================== */
.backgroundLogo{
    bottom: 60px;
    display: block;
    max-width: 350px;
    margin: auto;
    opacity: .2;
    padding: 30px 30px 125px 30px;
    position: relative;
    width: 100%;
}

.buttonNoFormat{
    background-color: transparent;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
}

.dashboardBody{
    background-color: #cacaca;
}

.itemDropdownBox{
    /* background-color: #f1efef; */
    background: linear-gradient(180deg, rgb(236 236 236) 0%, rgba(249,249,249,1) 16%);
    border-radius: 0 0 5px 5px;
    font-size: .6rem;
    margin: 0 1px;
    position: relative;
}

.itemDropdownButtons{
    position: absolute;
    right: 0px;
    bottom: 27%;
}

.itemDropdownTable{
    display: inline-flex;
    margin: 5px 0 5px 5px;
    min-height: 40px;
}

.itemDropdownTable td{
    padding: 0 3px;
    width: fit-content;
}

.itemListContainer{
    padding: 60px 0 60px 0;
}

.itemName{
    bottom: -3px;
    font-size: 1.3rem;
    font-weight: 300;
    height: 25px;
    position: relative;
    text-align: left;
    margin-bottom: 0px;
    overflow-y: hidden;
    white-space: nowrap;
}

.itemRow{
    background-color: #ffffff;
    height: 56px;
    margin: 1px;
}

.itemRowContainer{
    padding: 0 1px;
}

.itemTime{
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 2px 0;
}

.itemTimeNameDiv{
    padding: 0 0 0 10px;
}

.itemDuplicateIcon{
    border: none;
    height: 25px;
    outline: none;
}

.itemTrashIcon{
    height: 25px;
    margin: 0 15px 0 25px;
}

.itemValue{
    font-size: .7rem;
    font-weight: 400;
    margin: 0;
    text-align: end;
}

.itemValueDiv{
    padding: 2px 10px;
}

.topBar{
    background-color: #ff9c3e;
}
/* Round Corners of Last List Item */
.itemListContainer > .itemRowContainer:last-child > .itemRow{
    border-radius: 0 0 4px 4px;
}

/* for pastView */
.noItemsDiv{
    padding-top: 50px;
    text-align: center;
}

/* Dashboard Modal Bottom Buttons ========================================== */
.bottomButtons button{
    background-color: #000000;
    border-radius: 100%;
    border-width: 0;
    font-size: 1.8rem;
    height: 60px;
    opacity: .7;
    padding: 0 0 4px 0;
    position: absolute;
    width: 60px;
}

.buttonAddItem{
    bottom: 55px;
    right: 80px;
}

.buttonAddItem img{
    position: relative;
    right: 1px;
    width: 36px;
}

.buttonSettings{
    bottom: 55px;
    left: 10px;
}

.buttonSettings img{
    bottom: 2px;
    position: relative;
    width: 35px;
}

.buttonToday{
    bottom: 55px;
    color: white;
    right: 10px;
}

.buttonQuickAdd{
    bottom: 55px;
    right: 10px;
}

.buttonQuickAdd img{
    left: 1px;
    position: relative;
    top: 1px;
    width: 43px;
}

/* Dashboard Modal Pop-Ups ========================================== */

/* All Dashboard Modals */
button.close{
    bottom: 8px;
    position: relative;
    right: 3px;
}

.card-body{
    max-height: 173px;
    overflow-x: auto;
}

.modal .bottomButton{
    background-color: #464646;
    border: 0;
    bottom: 2px;
    color: #fff;
    position: absolute;
    width: 40%;
}

.modal-content{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: black;
    border-width: 1px;
    bottom: 20px;
}

.modal-footer{
    background-color: #5f65d8;
    height: 51px;
    min-height: 51px;
}

.modal-footer .save{
    font-weight: 300;
    position: absolute;
    right: 15px;
}

.modal-footer .cancel{
    font-weight: 300;
    left: 15px;
    position: absolute;
    left: 10px;
}

.modal-header{
    background-color: #ff9c3e;
    height: 45px;
    min-height: 45px;
}

.modal-title{
    bottom: 9px;
    font-weight: 300;
    position: relative;
}

/* Select Item Modal ========================================== */
.addEditButton{
    margin-bottom: 5px;
}

.addItemQuestion{
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    color: #8c8c8c;
    font-size: 12px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 20px;
    text-align: center;
    width: 22px;
    -webkit-appearance: none;
    
}

.filterInput{
    max-width: 250px;
    width: 80%;
}

.selectableItems{
    /* Set height to 45% of viewport */
    height: 42vh;
    overflow: auto;
}

.selectableItems button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 2px 0;
    white-space: nowrap;
    width: 100%;
}

.selectItemBody{
    text-align: center;
}

.selectItemHR{
    margin: 5px auto;
    width: 90%;
    text-align: center;
}

/* Quick Add Form ========================================== */
#buttonQuickTips{
    background-color: #5ece5c;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 150px; 
}

.newItemDiv{
    max-height: 360px;
    overflow: auto;
    padding-top: 10px;
    text-align: center;
}

.newItemDiv .topFour{
    border-color: #ff9c3e;
    border-width: 1px;
    outline-color: #ff9c3e;
}

.newItemDiv input{
    border-color: #5f65d8;
    border-width: 1px;
    margin: 3px 3px 0 0;
    max-width: 180px;
    outline-color: #5f65d8;
    width: 48%;
}

.moreOptionsButton{
    margin: 7px 0 0 0;
    font-size: .7rem;
}

.quickAddForm{
    width: 100%;
}

/* Settings Modal (Main) ========================================== */
#buttonOpenQuickTipsModal{
    background-color: #5ece5c;
}

#currentPasswordInput, #newPasswordInput, #usernameInput{
    display: block;
    margin: 0 auto 3px auto;
}

#settingsModal .modal-body{
    height: 50vh;
    overflow-y: auto;
    text-align: center;
}

#settingsModal .navLink{
    color: #5f65d8;
}

.changePasswordError, .changePasswordSuccess{
    font-size: .75rem;
    padding: 5px;
}

.chartsPage{
    font-weight: 300;
}

.loadingIndicatorDiv{
    display: flex;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.loadingIndicator{
    margin: auto;
}

.modal-footer .back{
    font-weight: 300;
    left: 15px;
    position: absolute;
    left: 10px;
}

.modal-footer .next{
    font-weight: 300;
    position: absolute;
    right: 15px;
}

.preferencesPage{
    font-weight: 300;
}

.profilePage input{
    font-weight: 300;
    font-size: .9rem;
}

.profilePage label{
    font-weight: 300;
    font-size: 1rem;
}

.settingsTable input{
    margin-left: 5px;
}

.settingsTable label{
    font-size: .9rem;
}

.settingsTabs{
    margin: 0 -10px;
    position: relative;
    top: -15px;
}

.settingsBodyButton{
    background-color: #949494;
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 210px;
}

.settingsTabs{
    font-weight: 300;
}

.settingsTable{
    margin: auto;
}

/* Charts ======================================================== */
#button1D{
    border-radius: 5px 0 0 5px;
}

#button3M{
    border-radius: 0 5px 5px 0;
}

#chartsButtonPercent{
    border-radius: 5px 0 0 5px;
    margin-right: -2px;
}

#chartsButtonTotal{
    border-radius: 0 5px 5px 0;
    margin-left: -2px;
}

#chartsContainer{
    /* height is edited in script */
    height: inherit;
    width: inherit;
}

#chartDateRange{
    border: 0px;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 300;
    margin-left: 10px;
    padding: 6px;
    position: relative;
    top: 0px;
    width: 90px;
}

#dailyAverageNote{
    font-size: .8rem;
    padding-left: 50px;
    position: absolute;
}

.chartButtonDiv1, .chartButtonDiv2{
    display: inline-block;
    padding-top: 5px;
}

.chartsButton{
    background-color: #b5b5b5;
    border: none;
    color: white;
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    margin: 0px;
    padding: 6px;
    width: 70px;
}

.chartsButton:focus{
    outline: none;
}

.chartsButtonSelected{
    background-color: #949494;
    color: black;
    font-weight: 400;
}

.chartRangeButton{
    background-color: #b5b5b5;
    border: none;
    color: white;
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    margin: 0 -5px 0 0;
    padding: 6px 0;
    width: 30px;
}

.chartRangeButton:focus{
    outline: none;
}

.chartRangeButtonDisabled{
    color: #cecece;
}

.chartsRangeButtonSelected{
    background-color: #949494;
    color: black;
    font-weight: 400;
}


/* Intro  Modal ================================================== */
#buttonCloseDefaults{
    background-color: #949494;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 150px;
}

#userPreferencesModal .modal-content{
    height: 80vh;
}

#userPreferencesModal{
    text-align: center;
}

.defaultsModalBody, .editModalBody{
    height: 100%;
    overflow: auto;
}

.defaultsForm{
    width: 100%;
}

.defaultsTitle{
    margin: 5vh 0;
}

.disclaimerDiv{
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    margin: auto;
    width: fit-content;
    width: max-content;
}

.disclaimerDiv label{
    margin: 0 0 0 5px;
}

.disclaimerLink{
    display: inline-block;
    font-size: .8rem;
    margin-top: 30px;
}

.duplicateSelectionWarning{
    background-color: #cccccc;
    border-radius: 5px;
    font-size: .8rem;
    max-width: 250px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
}

.defaultsFinalOptionsDiv{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.goalsFlexRow{
    display: flex;
    flex-direction: row;
    height: 50%;
    margin: auto;
    overflow: auto;
    position: relative;
    width: fit-content;
}

.goalsFlexRow input{
    display: inline-block;
    position: relative;
    width: 70%;
}

.goalsFlexRow label{
    display: block;
    font-size: .8rem;
    margin: 10px 0 1px 0;
}

.otherItemsFlexRow, .editOtherFlexRow{
    display: flex;
    height: 50%;
    justify-content: center;
    overflow: auto;
    padding-left: 15px;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.otherItemsFlexRow label, .editOtherFlexRow label{
    margin-left: 5px;
    text-transform: capitalize;
}

.otherFlexColumn1, .editOtherFlexColumn1{
    text-align: left;
}

.otherFlexColumn2, .editOtherFlexColumn2{
    text-align: left;
    padding-left: 10px;
}

.topFourFlexColumn{
    display: flex;
    flex-direction: column;
}

.topFourFlexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topFourSelection{
    height: 25px;
    margin: 5px;
    text-transform: capitalize;
}

/* Edit Goals Modal ============================================== */
#buttonCloseEditGoalsModal{
    background-color: #949494;
    margin: 90px 10px 10px 10px;
    padding: 6px;
    position: relative;
    width: 150px;
}

#editGoalsModal{
    text-align: center;
}

#editGoalsModal .modal-content{
    height: 80vh;
}

.editGoalsForm{
    margin: auto;
    max-width: 500px;
    width: 100vw;
}

/* Quick Tips Modal ============================================== */
#quickTip .modal-content{
    margin: auto;
    max-width: 350px;
}

.gotItButton{
    background-color: #464646;
    border: 0;
    bottom: 4px;
    color: #fff;
    margin: auto;
    position: relative;
    width: 60%;
}

.quickTipBody{
    margin: 10px 0 0 0;
    text-align: center;
}

.quickTipCounter{
    display: block;
    margin: 0 -4px -13px 0;
    text-align: right;
}

.quickTipImage{
    display: block;
    text-align: center;
}

/* Dashboard Bottom Bar ========================================== */
#diaryBackButton{
    cursor: pointer;
    padding: 5px 10px;
    user-select: none;
}

#diaryForwardButton{
    cursor: default;
    opacity: 0;
    padding: 5px 10px;
    user-select: none;
}

#diaryTodayButton{
    cursor: pointer;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    user-select: none;
}

.bottomBar{
    background-color: #5f65d8;
    height: 50px;
}

.bottomBarDay{
    color: white;
    font-weight: 300;
    margin: auto;
}

.bottomBarLogo{
    bottom: 9px;
    filter: invert(1);
    position: absolute;
    width: 30px;
}

/* Javascript Items ========================================== */
.hidden{
    display: none;
}