body{
    background-color: #5f65d8;
    /* background-color: #e28934; */
}

/* Navbar Styles */
.navbarTitle img{
    position: absolute;
    height: 52px;
    top: 2px;
    right: 100px;
    filter: invert(1);
}