/* FOR NEW ITEM PAGE */

/* NewItem Header ========================================== */
.headerRow{
    background-color: #ff9c3e;
    left: 0;
    margin: 0;
    padding: 2px 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.topCounterDiv{
    padding: 2px 1px;
}

.topOutOf{
    color: #545454;
    font-size: .8rem;
    padding-bottom: 1px;
}

.topTotalCount{
    color: white;
    font-size: 2rem;
    font-weight: 300;
    line-height: 100%;
}

.topBar{
    background-color: #ff9c3e;
}

/* Item List & Done Button Div */
.mainContentDiv{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


/* Cancel & Save Buttons */
.buttonStyle{
    background-color: #464646;
    color: #ffffff;
    font-weight: 300;
    margin: 0 5px;
    max-width: 170px;
    width: 40%;
}

.doneButtonDiv{
    padding-top: 20px;
    text-align: center;
}

/* List of Items */
.itemListContainer{
    /* border: 1px grey solid; */
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    height: 560px;
    margin: auto;
    overflow: scroll;
    padding: 10px 25px 25px 25px;
    position: relative;
    text-align: center;
    width: 90%;
}

.eachItemFormat{
    color: #212529;
    display: block;
    font-size: .9rem;
    line-height: 1.6;
}

.eachItemFormat:hover{
    color: black;
}

.pageTitle{
    position: relative;
    text-align: center;
}

/* Modal Edit Items */
#nameOfItem{
    text-align: center;
}

button.close{
    bottom: 8px;
    position: relative;
    right: 3px;
}

.modal .btn{
    background-color: #464646;
    border: 0;
    bottom: 2px;
    position: absolute;
    width: 40%;
}

.modal-content{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: black;
    border-width: 1px;
    bottom: 20px;
}

.modal-footer{
    background-color: #5f65d8;
    height: 51px;
}

.modal-footer .save{
    font-weight: 300;
    position: absolute;
    right: 15px;
}

.modal-footer .cancel{
    font-weight: 300;
    left: 15px;
    position: absolute;
    left: 10px;
}

.modal-header{
    background-color: #ff9c3e;
    height: 45px;
}

.modal-title{
    bottom: 9px;
    font-weight: 300;
    position: relative;
}

.loadingIndicator{
    bottom: 45%;
    position: absolute;
    z-index: 1055;
}

.loadingIndicatorDiv{
    display: flex;
    justify-content: center;
}

/* New Item Bottom Bar ========================================== */
.bottomBar{
    background-color: #5f65d8;
    height: 50px;
}

.bottomBarDay{
    color: white;
    font-weight: 300;
    margin: auto;
}

.bottomBarLogo{
    bottom: 9px;
    filter: invert(1);
    position: absolute;
    width: 30px;
}

/* JQuery Classes ========================================== */
.hideElement{
    display: none;
}

/* Media Queries ========================================== */

/* Support for Smaller Devices */
@media (max-height: 760px) {

    .itemListContainer{
        height: 350px;
    }

}

@media (max-height: 565px) {

    .itemListContainer{
        height: 150px;
    }
    
}